.grid{
    display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap:10px;
    width:100%; 
    height:300px;
}
h1{
    color: red;
}

div>label[for='he']{
    color: blue;
}

label[for='she']{
    color: red
}

label input{
    accent-color: pink;
}

label+input{
    accent-color: yellow;
}
div table{
  
    border-collapse:collapse ;
       width:  400px; 
}
th,td{
    border:solid 1px;
    text-align:center;
}
th {

    height: 80px;               /* 高さ指定 */

    font-weight:1000;
    background-color:rgb(228 240 245);
}
td{
    font-weight:bold;
     background-color:rgb(140,140,140,0.2);
}
caption{
    caption-side:bottom;
    padding:20px;
}
th span{
    color:#ff0000;
}