@media  screen and(max-width:768px) {
    body{
        font-size:16px;

    }
}   
@media screen and(min-width:769px){
    body{
        font-size:80%;
    }
}
body{
    background-color: rgba(242, 253, 255, 0.505);
    *{
        box-sizing: border-box;
        
            margin:0;
            padding:0;
    
    }
}
table{

    border: solid 1px;
    border-collapse:collapse;
}
th,td{
    border:solid 1px;
}
.a{
    gap: 1px;
 display: flex;
        flex-direction: column;
}
.aa{
    display: flex;
    align-items: flex-end;
}
button[value='delete']{
    background-color: yellow;
    margin-left:1px;
    border:none;
    border-radius: 30px;
    font-weight: 600;
    color:black;
}
button[value='delete']:hover{
    background-color:rgb(255 255 128 / 0.5);
} 
.text{
    border:none;
 
}
.text:hover{
    background-color: rgb(147, 188, 190);
}
input[value="追加ボタンだお"]{
    font-weight:bold;
    background-color: aqua;
    border: none;
    color:black;
}