.grid{
    display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap:10px;
    width:100%; 
    height:300px;
}
h1{
    color: red;
}

div>label[for='he']{
    color: blue;
}

label[for='she']{
    color: red
}

label input{
    accent-color: pink;
}

label+input{
    accent-color: yellow;
}
div table{
  
    border-collapse:collapse ;
       width:  400px; 
}
th,td{
    border:solid 1px;
    text-align:center;
}
th {

    height: 80px;               /* 高さ指定 */

    font-weight:1000;
    background-color:rgb(228 240 245);
}
td{
    font-weight:bold;
     background-color:rgb(140,140,140,0.2);
}
caption{
    caption-side:bottom;
    padding:20px;
}
th span{
    color:#ff0000;
}

.title_you{
    position:relative;

}
video{
        border:solid 5px gold;
    outline:5px solid rgb(3, 239, 251);
    outline-offset:5px;
    margin:10px;
    aspect-ratio:16/9;
    width: 100%;
max-width: 600px;
   /* margin-top: 10px; 重複しないから意味ない*/
}
.title_you>h3{
    position:absolute;
    border:solid 1px red ;
    left: 235px;
    top:-5px;
 

    color:rgb(255, 3, 251);
    background-color: white;
}
h3+h4{
    position:absolute;

    left:20px;


    color:rgb(255, 255, 0);
}
input[name='name']{
    border:black solid 5px;
}
.title_you p{
    color: black ;
    font-size: 2rem;
}