<!DOCTYPE html>
<html lang="'ja">
<head>
    <meta charset="UTF-8">
    <title>新規画面</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
    </head>
<body>    <h1>ようこそー！！</h1>
    <div style="background-color: red;">私だよ
        <div style='color:white;'>kusottare-</div>
    </div>

    <div style='display: flex;  height:200px;'>
        <div style="background-color: pink; width:20%; height:100%">横だね</div>
        <div style="background-color: green; width:80%; height:100%">横だお</div>
    </div>

    <div style=' width:100%; height:300px;'>
        <div style="background-color: red; width:100%; height:10%">ヘッダーですわ</div>
        <div style="background-color: pink; width:50%; height:50%;margin-left: 50%;">メニュー</div>
        <div style="background-color: green; width:50%; height:20%; margin-right:25%;margin-left:25%">値段</div>
        <div style="background-color: blue; width:100%; height:10%;margin-bottom:10%;">フッダー</div>
    </div>
    <div style="background-color: yellow; width:100%; height:50px">もうええて</div>

    <div style='display:grid; grid-template-columns: 1fr 4fr 1fr; gap:100px; width:100%; height:300px;'>
        <div style="background-color: red; ">1</div>
        <div style="background-color: pink; ">2</div>
        <div style="background-color: green; ">33</div>
        <div style="background-color:brown">44</div>
        <div style="background-color:aqua">4999999</div>
        <div style="background-color:aliceblue">77</div>
    </div>

    <div class="grid">
        <div style="background-color: red; ">1</div>
        <div style="background-color: pink; ">2</div>
        <div style="background-color: green; ">33</div>
        <div style="background-color:brown">44</div>
        <div style="background-color:aqua">4999999</div>
        <div style="background-color:aliceblue">77</div>
    </div>

    
    <br>
    <ol>
        <li>バンド</li>
        <li>現地バンド</li>
    </ol>
    <br> 
    <div>
        <label for="apple">アップル好きそうだからもうチェック入れといたよ！(ちなこの文タップしても入力される)</label>
        <input type="checkbox"name="fruits"value='apple'checked="checked" id='apple'>
    </div>
    <div>
        <label for="t">タイピング用(ちなこれタップしても入力される)</label>
        <input type="text"name='type' placeholder='type'cols="30" rows="3"id='t' >
    </div>
    <br>
    <header>この機能おすすめっす</header>
    <main>これが私のメインコンテンツ
        
        <form method="POST" action="{{url_for('form')}}">
        <div >
            性別
            <label for="he" >
                <input type="radio"name='sex'value='男性' id="he" >男性
            </label>
            <label for='she'>
                <input type="radio"name='sex'value='女性' id="she">女性
            </label>
            <button>送信だー！！</button>
        </div>
        </form>
        <div>{{gender['sex']}} これが君のタイプだね</div>
    </main>
    <footer>これでおわりっす</footer>
    <br>          
    <div>
        <table>
            <caption>表１: みんなの好きな語尾ランキング！！</caption>
            <thead>
                <tr>
                    <th><span>1位</span></th>
                    <th><span>2位</span></th>
                    <th><span>3位</span></th>
                </tr>
            </thead>
            <body>
                <tr>
                    <td>ペコ</td>
                    <td>クカ</td>
                    <td>じょなーー</td>
                </tr>
            </body>
        </table>
    </div>
    <br>
    <form method="POST"action="{{url_for('form')}}" enctype="multipart/form-data">
 <div>
        <input type="file" name="gazou"accept='image/*' required>
        <input type="text"name='name'placeholder='画像のタイトル入力用' required>
        <br>
        <button type="submit">ここで画像を送信だー！！合いの手うおうお</button>
 
</div>
    </form>
    <br>
    <div>
        {%if i and i[0] and i[0][0] %}
        <p>画像のタイトル【{{i[0][1]}}】</p>



        <img src="{{ url_for('static', filename=i[0][0]) }}" width="200px">
                {% endif%}
   </div>
    <a href="/">
        戻るためにはスイーツをつんつんして！
        <img src="{{ url_for('static', filename='20260206_114451228_iOS.jpg')}}" alt='パフェ'    style="width:100%; max-width:300px;">
    </a>
    

    <div class="title_you">
        <h3>ガチ適当動画だぞ</h3>
        <h4>player</h4>
        <video src="{{url_for('static',filename='20260217_112824000_iOS.MP4')}}" preload="auto" controls width='500px' playsinline>
        </video>
    </div>
    <br>

    <div class="title_you">
        <h4>たはは…繰り返し傍聴用</h4>
        <audio controls autoplay preload='auto' loop>
            <source src="{{url_for('static',filename='Recording 5.wav')}}" type="audio/wav">
            <source src="{{url_for('static',filename='Recording 5.mp3')}}" type="audio/mp3">

        </audio>
    </div>
    <br>
    <div class="title_you">
        <p> このサイトのQRコード</p>
    <img src="{{url_for('static',filename='QR_278047.png')}}" alt="このサイトのQRコード"width='111px'>
    </div>
    <br>
</body>
</html>
